<body>
    <a href="{% url 'photo' %}"><h1> PHOTOGRAPHER </h1></a>
    <br>
    <h1> DETAIL </h1>
    <br>
    <ul>
        {{ user.username }}
        {{ photo_post_detail.title }}
        {{ photo_post_detail.text }}
        {% if photo_post_detail.image1 != '' %}
        <img src="{{ photo_post_detail.image1.url }}" width = "350" alt = "{{ photo_post_detail.title }}">
        {% endif %}
        {% if photo_post_detail.image2 != '' %}
        <img src="{{ photo_post_detail.image2.url }}" width = "350" alt = "{{ photo_post_detail.title }}">
        {% endif %}
        {% if photo_post_detail.image3 != '' %}
        <img src="{{ photo_post_detail.image3.url }}" width = "350" alt = "{{ photo_post_detail.title }}">
        {% endif %}
        {% if photo_post_detail.image4 != '' %}
        <img src="{{ photo_post_detail.image4.url }}" width = "350" alt = "{{ photo_post_detail.title }}">
        {% endif %}
        {% if photo_post_detail.image5 != '' %}
        <img src="{{ photo_post_detail.image5.url }}" width = "350" alt = "{{ photo_post_detail.title }}">
        {% endif %}
    </ul>
    <a href="{% url 'photo' %}"><button>Back</button></a>
    {% if user.role == '사진작가' %}
        <a href="{% url 'photo_edit' photo_post_detail.id %}"><button>Edit</button></a>
        <a href="{% url 'photo_delete' photo_post_detail.id %}"><button>Delete</button></a>
    {% endif %}
</body>