

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
<div id="content">
    <a href="{% url 'photo' %}"><h1> PHOTOGRAPHER </h1></a>
    <br>
    <h5> KEYWORDS </h5>
    <a href="{% url 'photo_filter_cute' %}"><button> 큐티 </button></a>
    <a href="{% url 'photo_filter_cool' %}"><button> 청량 </button></a>
    <a href="{% url 'photo_filter_bnw' %}"><button> 흑백사진 </button></a>
    <a href="{% url 'photo_filter_plus' %}"><button> 플러스모델 </button></a>
    
    <br>
    {% if user.role == '사진작가' %}
        <a href="{% url 'photo_post' %}"><button>Upload Image</button></a>
    {% endif %}
    <br>
    <br>
</div>
{% block content %}
{% endblock content %}

</body>

