<!-- temlaptes/model.html -->

{% extends 'model/model_base.html' %}
{% block content %}
    <ul>
        {% for post in object_list %}
            <a href="{% url 'model_detail' post.id %}"><img src="{{ post.thumbnail.url }}" width="350" alt = "{{ post.title }}"></a>
            {{ user.username }}
            {{ post.title }}
            {{ post.text|slice:":10" }}
        {% endfor %}
    </ul>



    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>

{% endblock content %}